## T01. Estructura de dades

### EXERCICI 1

Per agrupar els mesos de l'any en trimestres creo una llista amb 4 diccionaris, un per trimestre. Per tenir diferents valors per cada clau del diccionari, faig servir una llista dins de cada diccionari

In [18]:
mesos_any = [{"1T": ["Gener", "Febrer", "Març"]}, {"2T": ["Abril", "Maig","Juny"]}, 
             {"3T": ["Juliol", "Agost", "Setembre"]}, {"4T": ["Octubre", "Novembre", "Desembre"]} ]

In [19]:
mesos_any

[{'1T': ['Gener', 'Febrer', 'Març']},
 {'2T': ['Abril', 'Maig', 'Juny']},
 {'3T': ['Juliol', 'Agost', 'Setembre']},
 {'4T': ['Octubre', 'Novembre', 'Desembre']}]

***

### EXERCICI 2

* Accedir al segon mes del primer trimestre:

Primer hem d'accedir al primer element de la llista (índex 0), en aquest cas com es un diccionari haurem de fer referència a la clau "1T", que conté una altra llista. Llavors per accedir al segon valor d'aquesta llista fem referència al seu índex.

In [20]:
mesos_any[0]["1T"][1]

'Febrer'

* Accedir als mesos del primer trimestre:

En aquest cas haurem d´accedir al primer diccionari de la llista (index 0)

In [21]:
mesos_any[0]

{'1T': ['Gener', 'Febrer', 'Març']}

Si volem imprimir només la llista amb els mesos, podem cridar els valors del diccionari mitjançant el nom de la clau

In [22]:
mesos_any[0]["1T"]

['Gener', 'Febrer', 'Març']

* Per accedir als mesos de Setembre i Octubre, sabent que pertanyen a diferents trimestres, podem fer:

In [23]:
setembre = mesos_any[2]["3T"][2] 
octubre = mesos_any[3]["4T"][0]
setembre, octubre

('Setembre', 'Octubre')

***

### EXERCICI 3

Crearem una llista de 10 números aleatoris del 1 al 10 mitajançant el mòdul random. Anirem afegint els números generats a una llista amb un bucle for.

In [24]:
import random
numbers = []

for i in range(10): 
    number = random.randint(1,10)
    numbers.append(number)
print(numbers)

[1, 4, 7, 4, 10, 3, 8, 10, 7, 4]

* Per saber el nombre d'elements fem servir la funció len(), en aquest cas veiem que hi ha **10** nombres

In [25]:
len(numbers)

10

* Busquem cuantes vegades apareix el número 3 amb la funció count():

In [26]:
count = numbers.count(3)
print("El nombre 3 aparaeix", count,"vegades.")

El nombre 3 aparaeix 1 vegades.

* També amb count() busquem quantes vegades apareixen 3 i 4:

In [27]:
number3 = numbers.count(3)
number4 = numbers.count(4)
total = number3 + number4
print("Els nombres 3 i 4 apareixen",total,"vegades.")

Els nombres 3 i 4 apareixen 4 vegades.

* Per saber el nombre més gran, podem fer servir la funcio max():

In [28]:
max(numbers)

10

* Per saber els tres números més petits podem ordenar la llista amb sort() i cridar els nombres fent servir el índex:

In [29]:
numbers.sort()
numbers[:3]

[1, 3, 4]

* Per saber el rang d' una llista podem calcular la diferència entre el nombre més gran i el més petit amb les funcions max() i min():

In [30]:
range_numbers = max(numbers) - min(numbers)
print("El rang de la llista numbers es", range_numbers)

El rang de la llista numbers es 9

***

### EXERCICI 4

In [31]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

* Afegeix alguna fruita més:

In [32]:
compra["Taronjes"] = {"Qty" : 4, "€": 0.85}
compra

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'Taronjes': {'Qty': 4, '€': 0.85}}

* Per saber quant han costat les peres, **si suposem que el preu es per valor unitari**, podem fer:

In [33]:
quantity = compra["Peres"].get("Qty")
price = compra["Peres"].get("€")
cost = price * quantity
print("El cost de les peres ha sigut de" , cost, "€.")

El cost de les peres ha sigut de 1.98 €.

* Per saber quantes fruites hem comprat en total podem fer un bucle for per accedir a cada quantitat i sumar totes les quantitats:

In [34]:
total_quantity = 0
for values, keys in compra.items(): 
    quantity = compra[values].get("Qty")
    total_quantity = total_quantity + quantity 
print("En total s'han comprat", total_quantity, "fruites.")

En total s'han comprat 12 fruites.

* Per saber quina es la fruita més cara, podem afegir els preus en una llista i treure el valor màxim. Per fer-ho, farem una iteració amb un bucle for:

In [35]:
price_list = []
for values, keys in compra.items(): 
    price = compra[values].get("€")
    price_list.append(price)
max(price_list)

0.85

El resultat ens diu que el preu més gran és 0.85 €, per veure a quina fruita correspon aquest valor podem convertir el diccionari en un dataframe mitjançant el mòdul pandas

In [36]:
import pandas as pd
import numpy as np
compra_df = pd.DataFrame(compra)
compra_df

     Pomes  Peres  Taronjes
Qty   5.00   3.00      4.00
€     0.42   0.66      0.85

Ara, mitjançcant el mòdul numpy i la funció where() podem localitzar el nom de la columna que conté aquest valor i saber el nom de la fruita a la que correspon:

In [37]:
compra_df.iloc[np.where(compra_df == 0.85)]

   Taronjes
€      0.85

Aixó ens diu que la fruita més cara són les taronjes.